<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Link shortener</title>
</head>
<body>
    <div class="container">
        <h1>Link shortener</h1>
        <form th:action="@{/shorted-link}" method="post" th:object="${link}">
            <p>Enter link: <input type="text" class="form-control" th:field="*{originalLink}" placeholder="https://www.google.com"></p><br />
            <button type="submit">Create short link!</button>
        </form>
    </div>
</body>
</html>